/* Home Navbar */
.home__navbar {
    position: fixed;
    background-color: rgba(24, 24, 27, 1);
    width: 100%;
    inset-block-start: 0px;
    inset-inline-start: 0px;
    z-index: 20;
    border: none;
}

.home__navbar__position {
    display: flex;
    max-inline-size: 80rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.home__navbar__logo__position {
    display: flex;
    align-items: center;
}

#home__navbar__logo__image {
    display: block;
    block-size: 3rem;
    inline-size: auto;
    fill: rgba(24, 24, 27, 1);
    border-radius: 50%;
}

.home__navbar__list__position {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#home__navbar__list__link {
    display: flex;
    align-items: center;
}

.home__navbar__list {
    width: 100%;
    padding-inline: 1rem;
    display: flex;
}

.home__navbar__link {
    color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
}

.home__navbar__link:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-border-opacity: 1;
    border-color: rgb(234 179 8 / var(--tw-border-opacity));
}

/* Menu Modal */
#home__navbar__link__modal {
    position: fixed;
    inset-block-start: 0px;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
    z-index: 50;
    display: hidden;
    inline-size: 100%;
    padding: 1rem;
    overflow-inline: hidden;
    overflow-block: auto;
    max-block-size: 100%;
}

.home__navbar__link__modal__block {
    position: relative;
    inline-size: 100%;
    max-inline-size: 30rem;
    max-block-size: 100%;
}

.home__navbar__link__modal__content__block {
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    background-color: rgba(250, 204, 21, 1);
}

#home__navbar__link__modal__content__close__button {
    position: absolute;
    inset-block-start: 0.75rem;
    inset-inline-end: 0.625rem;
    color: rgba(17, 24, 39, 1);
    background: transparent;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    inline-size: 2rem;
    block-size: 2rem;
    margin-inline-start: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

#home__navbar__link__modal__content__close__button:hover {
    background-color: rgba(17, 24, 39, 1);
    color: rgba(250, 204, 21, 1);
    transition-timing-function: ease-in-out;
}

#home__navbar__link__modal__content__close__button__icon {
    inline-size: 0.75rem;
    block-size: 0.75rem;
}

#home__navbar__link__modal__content__close__button__logic {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-inline: 0;
}

.home__navbar__link__modal__content__link__position {
    padding: 1.5rem;
    text-align: center;
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.home__navbar__link__modal__content__link {
    margin-block-end: 1rem;
}

.home__navbar__link__modal__content__text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: rgba(17, 24, 39, 1);
}

.home__navbar__link__modal__content__link__underline {
    color: black;
    text-decoration: none;
    position: relative;
}

.home__navbar__link__modal__content__link__underline span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    width: 0;
    border-bottom: 2px solid black;
    transition: width .3s;
}

.home__navbar__link__modal__content__link__underline:hover span {
    width: 100%;
}

@media (min-width: 768px) and (orientation: landscape) {
    /* Home Navbar */
    .home__navbar__link {
        color: rgba(255, 255, 255, 1);
        border-radius: 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #home__navbar__list__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Menu Modal */
    #home__navbar__link__modal {
        position: fixed;
        inset-block-start: 0px;
        inset-inline-start: 0px;
        inset-inline-end: 0px;
        z-index: 50;
        inline-size: 100%;
        padding: 1rem;
        overflow-inline: hidden;
        overflow-block: auto;
        max-block-size: 100%;
        inset: 0px;
    }

    .home__navbar__link__modal__content__text {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: bold;
        color: rgba(17, 24, 39, 1);
    }
} 
