@import url("./float-button.css");

:root {
    --main-bg-color: rgba(24, 24, 27, 1);
    --secondary-bg-color: rgba(243, 244, 246, 1);
    --optional-bg-color-first: rgba(250, 204, 21, 1);
    --optional-bg-color-second: rgba(17, 24, 39, 1);

    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    inline-size: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-behavior: smooth;
}

html, body {
    max-inline-size: 100%;
    block-size: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: var(--main-font-family);
}

/* Home Footer */
.home__footer__section {
    background-color: rgba(250, 204, 21, 1);
}

.home__footer__section__container {
    inline-size: 100%;
    margin-inline: auto;
    padding-block: 2.5rem;
    padding-inline: 1.25rem;
}

.home__footer__second__div {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.home__footer__third__div {
    grid-column: span 1 / span 1;
}

.home__footer__about__block {
    margin-block-end: 0.75rem;
}

#home__footer__about__title {
    color: rgba(17, 24, 39, 1);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: bold;
    margin-block-end: 1rem;
    text-align: center;
}

#home__footer__about__content {
    display: none;
}

#home__footer__about__content__alternative {
    display: block;
    color: rgba(17, 24, 39, 1);
    text-align: start;
}

.home__footer__social__media__block {
    grid-column: span 1 / span 1;
}

#home__footer__social__media__title {
    color: rgba(17, 24, 39, 1);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: bold;
    margin-block-end: 1rem;
    text-align: center;
}

.home__footer__social__media__list {
    display: flex;
    inline-size: 100%;
    justify-content: center;
}

.home__footer__social__media__icon {
    margin-inline-end: 1rem;
}

.home__footer__social__media__link {
    color: rgba(17, 24, 39, 1);
    transition: 300ms;
}

.home__footer__social__media__link:hover {
    color: rgba(75, 85, 99, 1);
    transition-timing-function: ease-in-out;
}

#home__footer__border__bottom__inside {
    border-block-end: 1px solid rgba(17, 24, 39, 1);
    margin-block: 2rem;
}

#home__footer__copyright__content {
    text-align: center;
    color: rgba(17, 24, 39, 1);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@media (min-width: 768px) and (orientation: landscape) {
    #home__footer__copyright__content {
        text-align: center;
        color: rgba(17, 24, 39, 1);
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
} 